
body{
    background-color: black;
}

p{
    color: white;
}

figcaption{
    color:white;
}

time{
    color: white;
}


h2{
    color: orange;
}

h3{
    color:#e7b833;
}

h1{
    color:#e7b833;
}

li:hover{
    transform: translate(10px);
}

