@font-face {
    font-family: 'Head';
    src: url(Fonts/Retro\ Floral.ttf) format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'Body';
    src: url() format('truetype');
}

body{
    background-color: black;
}

p{
    font-family: sans-serif;
    font-size: 16px;
    color:rgb(227, 224, 224);
}

figcaption{
    color:white;
}

time{
    color: white;
}

h1{
    color:#e7b833;
    border: 4px solid;
    padding: 8px 18px;
    text-align: center;
    box-shadow: 0 0 15px #e7b833, 0 0 15px inset #e7b833;
    text-shadow: 0 0 8px #e7b833;
    font-family: 'Head', sans-serif;
    font-size: 36px;
}

h2{
    color: rgb(255, 119, 0);
}

.SubHeader{
        color:#e7b833;
        border: 4px solid;
        padding: 8px 18px;
        text-align: center;
        box-shadow: 0 0 15px #e7b833, 0 0 15px inset #e7b833;
        text-shadow: 0 0 10px #e7b833;
        font-family: 'Head', sans-serif;
        font-size: 36px;
}

h3{
    color:rgb(255, 119, 0);
    font-family: sans-serif;
}

h4{
    color:rgb(255, 119, 0);
}

.MainNavButton1{
    color:#2946b9;
    box-shadow: 0 0 15px #2946b9, 0 0 15px inset #2946b9;
    text-shadow: 0 0 2px #2946b9;
}

.MainNavButton2{
    color:#38ccb8;
    box-shadow: 0 0 15px #38ccb8, 0 0 15px inset #38ccb8;
    text-shadow: 0 0 1px #38ccb8;
}

li:hover{
    transform: translate(10px);
    
}

.MainNavMenu ul{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 0;
    margin-right: 12vh;

}

.MainNavMenu ul li{
    width: 180px;

}


nav ul li{
    padding-bottom: 11px;
    margin-top: 3px;
    list-style-type: none;
}

nav ul li a{
    display: block;
    text-align: center;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    padding: 6px 20px;
    border: 3.5px solid;
    text-decoration: none;
    font-family: 'Head', sans-serif;
    cursor: pointer;
    
}


.ToTop {
    color:#38ccb8;
    border: 2.5px solid;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 45%;
    padding: 0 10px;
    box-shadow: 0 0 8px #38ccb8, 0 0 8px inset #38ccb8;
    font-family: 'Head', sans-serif;
}

.TextSection{
    border-left: 3.5px solid;
    border-right:  3.5px solid;
    border-color:#e7b833;
    padding:5px 10px;
    margin: 20px 0;
}

.GridContainer{
        display: grid;
        grid-template-rows:repeat(3,350px);
        grid-template-columns:repeat(4,350px);
        justify-items: center;
        align-items: center;
        height: 100vh;
        

}

.ProjectCard{
        margin-left: 10px;
        border: 4px solid;
        transition: 0.3s;
        width: 250px;
        position: relative;
}

.ProjectCard a{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
}

.ProjectCard:hover{
        transform: translate(0,-4px);
        cursor: pointer;   
}

.ProjectContainer{
    padding-left: 10px;  
}

.ProjectContainer h3{
    font-size: 22px;
    color: white;
}

.SideNav ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    column-gap: 70px;
    padding: 0;
    margin-right: 12vh;
}

.SideNav ul li{
    width: 150px;
}

.SideNav ul li:hover{
    transform: translateY(-10px);
}

.SubPage ul{
    position: relative;

}
.SubPage ul li:hover{
    transform: translateY(-10px);
}

.SideNav .LinkActive{
    transform: translateY(-10px);
    
}

.CardSum{
    margin-left: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 170px;
    color:rgb(255, 119, 0);
    border: 2.5px solid;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding: 0 10px;
    font-family: 'Head', sans-serif;
}

@media (max-width: 700px) {
    h1{
        text-shadow: none;
    }

    .PortfolioHeading{
        text-shadow: none;
    }

    .GridContainer{
        grid-template-columns: 350px;
        grid-template-rows: repeat(8,350px);
        justify-content: center;
    }

    .MainNavButton1{
        text-shadow: none;
    }

    .MainNavButton2{
        text-shadow: none;
    }

    .MainNavMenu ul{
        margin-right: 8vh;
    }

    .ToTop{
        margin-right: 8vh;
    }

    .SubHeader{
        text-shadow: none;
    }

    
}




