@font-face {
    font-family: 'Head';
    src: url(Fonts/Retro\ Floral.ttf) format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'Body';
    src: url() format('truetype');
}

body{
    background-color: black;
}

p{
    color: white;
    font-family: 'Body', sans-serif;
}

figcaption{
    color:white;
}

time{
    color: white;
}

h1{
    color:#e7b833;
    border: 4px solid;
    padding: 8px 18px;
    text-align: center;
    box-shadow: 0 0 15px #e7b833, 0 0 15px inset #e7b833;
    text-shadow: 0 0 1px #e7b833;
    font-family: 'Head', sans-serif;
    font-size: 36px;
}

h2{
    color: rgb(255, 119, 0);
}

h3{
    color:rgb(255, 119, 0);
    font-family: sans-serif;
}

h4{
    color:rgb(255, 119, 0);
}

.MainNavButton1{
    color:#2946b9;
    box-shadow: 0 0 15px #2946b9, 0 0 15px inset #2946b9;
    /*text-shadow: 0 0 2px #2946b9;*/
}

.MainNavButton2{
    color:#38ccb8;
    box-shadow: 0 0 15px #38ccb8, 0 0 15px inset #38ccb8;
    text-shadow: 0 0 1px #38ccb8;
}

li:hover{
    transform: translate(10px);
    
}

.MainNavMenu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.MainNavMenu ul li{
    width: 180px;
}


nav ul li{
    padding-bottom: 11px;
    margin-top: 3px;
    list-style-type: none;
}

nav ul li a{
    display: block;
    text-align: center;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    padding: 6px 20px;
    border: 3.5px solid;
    text-decoration: none;
    font-family: 'Head', sans-serif;
    cursor: pointer;
}




