@font-face {
    font-family: 'BlogButtons';
    src: url(../../Fonts/Retro\ Floral.ttf) format('truetype');
}

p{
    font-family: sans-serif;
    font-size: 16px;
}

a{
    color:#38ccb8;
    border: 2.5px solid;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    padding: 0 10px;
    box-shadow: 0 0 8px #38ccb8, 0 0 8px inset #38ccb8;
    font-family: 'BlogButtons', sans-serif;
}

.BlogSideNav ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.BlogSideNav ul li{
    width: 100px;
}




