@font-face {
    font-family: 'Head';
    src: url(../../Fonts/Retro\ Floral.ttf) format('truetype');
}

.BlogCard{
    border-color:rgb(127, 141, 138);
}

.BlogCard:hover{
    box-shadow: 0 8px 16px 0 rgb(127, 141, 138);  
}











