@font-face {
    font-family: 'Head';
    src: url(../../Fonts/Retro\ Floral.ttf) format('truetype');
}

.BlogCardsHeader{
    color:#e7b833;
        border: 4px solid;
        padding: 8px 18px;
        text-align: center;
        box-shadow: 0 0 15px #e7b833, 0 0 15px inset #e7b833;
        text-shadow: 0 0 10px #e7b833;
        font-family: 'Head', sans-serif;
        font-size: 36px;
}
p{
    font-family: sans-serif;
    font-size: 16px;
}

a{
    color:#38ccb8;
    border: 2.5px solid;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    padding: 0 10px;
    box-shadow: 0 0 8px #38ccb8, 0 0 8px inset #38ccb8;
    font-family: 'Head', sans-serif;
}

.BlogSideNav ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    column-gap: 70px;
    padding: 0;
    margin-right: 12vh;
}

.BlogSideNav ul li{
    width: 100px;
}

.BlogSideNav ul li:hover{
    transform: translateY(-10px);
}

.BlogSubPage ul{
    position: relative;

}
.BlogSubPage ul li:hover{
    transform: translateY(-10px);
}

.BlogSideNav .BlogActive{
    transform: translateY(-10px);
    
}







