p{
        color: rgb(227, 224, 224);
}

h2{
        color:#e7b833;
        border: 4px solid;
        padding: 8px 18px;
        text-align: center;
        box-shadow: 0 0 15px #e7b833, 0 0 15px inset #e7b833;
        text-shadow: 0 0 10px #e7b833;
        font-family: 'Head', sans-serif;
        font-size: 36px;
}

.Card1{
        border-color:rgb(127, 141, 138);
}

.Card1:hover{
        box-shadow: 0 8px 16px 0 rgb(127, 141, 138);  
}

.Card2{
        border-color:rgb(0,160,255);
}

.Card2:hover{
        box-shadow: 0 8px 16px 0 rgb(0,160,255);    
}

.Card3{
        border-color:rgb(254,53,174);
}

.Card3:hover{
        box-shadow: 0 8px 16px 0 rgb(254,53,174);    
}

.Card4{
        border-color:rgb(240,184,56);
}

.Card4:hover{
        box-shadow: 0 8px 16px 0 rgb(240,184,56);  
}

.GameText{
        font-size: 20px;
        border-left: 3px solid;
        padding-left: 15px;
}

.PseudoText{
        color:rgb(127, 141, 138);
        height: 190px;
}

.HockeyText{
        color:rgb(0,160,255);
        height: 165px;
}

.TwistText{
        color:rgb(254,53,174);
        height:190px;
}

.ShopText{
        color:rgb(240,184,56);
        height: 210px;
}

@media (max-width: 1030px){
   
}

@media (max-width: 750px){
    .GameText{
            border-left: none;
            border-top: 3px solid;
            padding-top: 10px;
    }
}







