@font-face {
    font-family: 'Balatro';
    src: url(../../Fonts/balatro.otf) format('opentype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'Celeste';
    src: url(../../Fonts/Renogare-Regular.otf) format('opentype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'Dicey';
    src: url(../../Fonts/Pangolin-Regular.ttf) format('truetype');
    font-weight: normal;
    font-size: normal;
}

p{
        color: rgb(227, 224, 224);
}

.AnalysisHeader{
        text-align: center;
        padding-bottom: 2em;
}

.CelesteText{
        color:rgb(255, 119, 0);
        font-family: 'Celeste', sans-serif;
}

.DiceyText{
        color:rgb(255, 119, 0);
        font-family: 'Dicey', sans-serif;
        font-weight: bold;
         font-size: 1.4em; 
}

.BalatroText{
        color:rgb(255, 119, 0);
        font-family: 'Balatro', sans-serif;
}

.GameGridContainer{
        display: grid;
        grid-auto-rows: 350px;
        grid-template-columns:repeat(4,1fr);
        row-gap: 30px;
        justify-items: center;
        align-items: center;
}

.AnalysesGridContainer{
        display: grid;
        grid-template-rows: 350px;
        grid-template-columns:repeat(3,1fr);
        row-gap: 30px;
        justify-content: center;
        justify-items: center;
        align-items: center;
}

.FilterContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

#FilterDropDown{
        display: none;
}

#FilterDropDown p {
    color:#00a6ff;
    border: 3.5px solid;
    width: 170px;
    font-size: 1.56em;
    font-weight: bold;
    padding: 6px 20px;
    box-shadow: 0 0 8px #00a6ff, 0 0 8px inset #00a6ff;
    font-family: 'Head', sans-serif;
    cursor: pointer;
    text-align: center;
}

.GameFilter {
        padding-left: 0;
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        column-gap: 2em;
        margin-bottom: 4em;
}

.GameFilter li{
   width: 170px;
   text-align: center;
    border: 2.5px solid;
    text-decoration: none;
    font-size: 1.56em;
    font-weight: bold;
    padding: 6px 20px;
    font-family: 'Head', sans-serif; 
}

.GameFilter li:hover{
        cursor: pointer;
}

.FilterButton1{
        color:#288c7e;
        box-shadow: 0 0 8px #288c7e, 0 0 8px inset #288c7e;
}

.FilterButton2{
        color:#004c74;
        box-shadow: 0 0 8px #004c74, 0 0 8px inset #004c74;
}

.GameFilter li:hover{
        transform: translateY(-10px);
}


.GameCardImage{
        width: 250px;
        height: 200px;
}


.Card1{
        border-color:rgb(127, 141, 138);
}

.Card1:hover{
        box-shadow: 0 8px 16px 0 rgb(127, 141, 138);  
}

.Card2{
        border-color:rgb(0,160,255);
}

.Card2:hover{
        box-shadow: 0 8px 16px 0 rgb(0,160,255);    
}

.Card3{
        border-color:rgb(254,53,174);
}

.Card3:hover{
        box-shadow: 0 8px 16px 0 rgb(254,53,174);    
}

.Card4{
        border-color:rgb(240,184,56);
}

.Card4:hover{
        box-shadow: 0 8px 16px 0 rgb(240,184,56);  
}

.Card5{
        border-color:#5ae7f9;
}

.Card5:hover{
        box-shadow: 0 8px 16px 0 #5ae7f9;  
}

.Card6{
        border-color:white;
}

.Card6:hover{
        box-shadow: 0 8px 16px 0 white;  
}

.GameText{
        font-size: 1.25em;
        border-left: 3px solid;
        padding-left: 1em;
}

.PseudoText{
        color:rgb(127, 141, 138);
}

.HockeyText{
        color:rgb(0,160,255);
}

.TwistText{
        color:rgb(254,53,174);
}

.ShopText{
        color:rgb(240,184,56);
}

.SplitText{
        color: #5ae7f9;
}

.PointText{
        color: white;
}

#GameRecContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 3em;
}

#GameRecTitle{
        color:rgb(255, 119, 0);
        font-family: 'Head',sans-serif;
        font-size: 2.6em;
        text-align: center;
}

#GameRecImage{
        max-width: 80%;
        max-height: auto;
        border: 4px solid;
        border-color: #e7b833;
}

#GameRecDescription{
        margin: auto 10em;
        font-size: 1.56em;
        padding: 1.5em 2.5em;
        border: 3px solid;
        border-color: rgb(227, 224, 224);
}

#GameRecLink{
        color:#38ccb8;
        border: 2.5px solid;
        text-align: center;
        font-size: 2rem;
        max-width: 7em;
        max-height: 5em;
        /* margin: 1em 0.5em; */
        padding: 0.3rem 2rem;
        font-weight: bold;
        box-shadow: 0 0 8px #38ccb8, 0 0 8px inset #38ccb8;
        font-family: 'Head', sans-serif;
        background-color: rgba(0, 0, 0, 0.7);
        text-decoration: none;
}

#GameRecLink:hover{
        cursor: pointer;
        transform: translateY(-10px);
}

@media (max-width: 1030px){
        .GameGridContainer{
                grid-auto-rows: 350px;
                grid-template-columns:repeat(2,1fr);
        }
        .GameFilter{
                flex-direction: column;
                row-gap: 15px;
                display: none;
        }
        #FilterDropDown{
        display: flex;
        justify-content: center;
        }
        .AnalysesGridContainer{
                grid-template-columns:repeat(2,1fr);
                grid-template-rows: repeat(2,350px);
                justify-content: center;
        }
        #GameRecDescription{
        font-size: 1.4em;
        padding: 1.5em 1em;
        margin: 1em;
        }
}

@media (max-width: 750px){
    .GameText{
            border-left: none;
            border-top: 3px solid;
    }
    .GameGridContainer{
                grid-auto-rows: 350px;
                grid-template-columns:repeat(1,1fr);
        }
        .GameText{
                border-top: 3px solid;
                border-left: none;
                padding-top: 1rem;
                margin: 1rem 1rem;
        }
        .GameFilter{
                flex-direction: column;
                row-gap: 15px;
                display: none;
        }
        #FilterDropDown{
        display: flex;
        justify-content: center;
        }
        .AnalysesGridContainer{
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3,350px);
                justify-content: center;
        }
        #GameRecDescription{
        font-size: 1.2em;
        padding: 1.5em 1em;
        margin: 1em;
        }

}







