.ProfileGridContainer{
    display: grid;
    grid-template-rows:repeat(1,350px);
    grid-template-columns:repeat(2,350px);
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: auto;
}

.ProfileText{
    border-left: 3px solid;
    border-color: rgb(227, 224, 224);
    padding-left: 15px;
}





