.ProfileGridContainer{
    display: grid;
    grid-template-rows:350px;
    grid-template-columns:repeat(2,350px);
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: auto;
}

.ProfileText{
    border-left: 3px solid;
    border-color: rgb(227, 224, 224);
    padding-left: 15px;
}

.LinksNav ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    column-gap: 70px;
    padding: 0;
    margin-right: 12vh;
}

.LinksNav ul li{
    width: 150px;
}

.LinksNav ul li:hover{
    transform: translateY(-10px);
}

@media (max-width: 950px){
    .ProfileGridContainer{
        grid-template-columns: 350px;
        grid-template-rows: repeat(2,350px);
        justify-content: center;
    }   
    .ProfileText{
        border-top: 3px solid;
        border-left: none;
        padding-top: 10px;
    }
    .LinksNav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 8vh;
    }
}





