
a{
    color:#38ccb8;
    border: 2.5px solid;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    padding: 0 10px;
    box-shadow: 0 0 15px #38ccb8, 0 0 15px inset #38ccb8;
}

.DesignSideNAv ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.DesignSideNav ul li{
    width: 130px;
}

.DesignCardHeader{
    color:#e7b833;
        border: 4px solid;
        padding: 8px 18px;
        text-align: center;
        box-shadow: 0 0 15px #e7b833, 0 0 15px inset #e7b833;
        text-shadow: 0 0 10px #e7b833;
        font-family: 'Head', sans-serif;
        font-size: 36px;
}

