
.DesignSideNAv ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.DesignSideNav ul li{
    width: 130px;
}

.DesignCard{
    border-color:rgb(127, 141, 138);
}

.DesignCard:hover{
    box-shadow: 0 8px 16px 0 rgb(127, 141, 138);  
}

.DesignText{
    margin-right: 20px;
}

.DesignGridContainer{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:repeat(3,1fr);
    row-gap: 30px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

@media (max-width: 750px){
    .DesignGridContainer{
        grid-template-columns: 350px;
        grid-template-rows: repeat(3,350px);
        justify-content: center;
    }   
}

@media (max-width: 1030px){
    .DesignGridContainer{
        grid-template-columns:repeat(2,350px);
        grid-template-rows: repeat(2,350px);
        justify-content: center;
    }  
}