
.DesignSideNAv ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.DesignSideNav ul li{
    width: 130px;
}

.DesignCard{
    border-color:rgb(127, 141, 138);
}

.DesignCard:hover{
    box-shadow: 0 8px 16px 0 rgb(127, 141, 138);  
}

.DesignText{
    margin-right: 20px;
}

.DesignGridContainer{
    display: grid;
    grid-template-rows: 350px;
    grid-template-columns:repeat(3,350px);
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

@media (max-width: 700px){
    .DesignGridContainer{
        grid-template-columns: 350px;
        grid-template-rows: repeat(3,350px);
        justify-content: center;
    }   
}