

@font-face {
    font-family: 'Head';
    src: url(Fonts/Retro\ Floral.ttf) format('truetype');
    font-weight: normal;
    font-size: normal;
}

.ProfileGridContainer{
    display: grid;
    grid-template-rows:350px;
    grid-template-columns:repeat(2,1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: auto;
}

.ProfileImage{
        width: 40%;
        height: 40%;
}

.ProfileText{
    border-left: 3px solid;
    border-color: rgb(227, 224, 224);
    padding-left: 1em;
    font-size: 1.46em;
    margin-right: 7em;
}

.HomePageText{
        font-size: 3rem;
        color: rgb(255, 119, 0);
        text-align: center;
        font-family:'Head', sans-serif;

}

.DescriptionText{
        font-size: 1.56em;
        margin: 1rem;
}

.HomeGridContainer{
        display: grid;
        grid-template-rows:repeat(3,350px);
        grid-template-columns:1fr 2fr;
        justify-items: center;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        column-gap: 1.5em;
}

@media (max-width: 1030px){
    .ProfileText{
        font-size: 1.1em;
        margin-right: 0;
        padding-right: 4em;
        
    }
}

@media (max-width: 750px){
        .GameText{
                border-left: none;
                border-top: 3px solid;
                padding-top: 10px;
        }
        .HomeGridContainer{
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2,350px);
                justify-content: center;
        }
        .ProfileGridContainer{
                grid-template-columns: 350px;
                grid-template-rows: repeat(2,350px);
                justify-content: center;
        }   
        .ProfileText{
                border-top: 3px solid;
                border-left: none;
                padding: 10px 2em;
                font-size: 1.1em;
                margin-right: 0;
        }  
}

















